.movieCard{
    list-style: none;
    font-size: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    transition: opacity .2s;
}

.movieCard:hover{
    opacity: 0.8;
}

.movieImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}

@media(max-width: 560px){
    .movieImage{

        width: 90%;
        height: auto;

    }
}

.movieTitles{
    color: aliceblue;
    text-decoration: none;
}

